html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  position: relative;

  max-width: 1080px;
  margin: 0 auto;
  color: #111;
  background: #eee;
}
* {
  transition: all 0.2s ease;
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  color: #55a;
}
a {
  color: #111;
  text-decoration: none;
}
p {
  font-size: 14px;
}
b {
  font-weight: 500;
}
img {
  width: 100%;
  object-fit: cover;
}
header {
  position: relative;
  height: 140px;
  display: flex;
}
.logo {
  display: flex;
  box-shadow: 5px 5px 5px #1113;
  width: 480px;
  height: 200px;
  overflow: hidden;
  background: white;
  border-bottom-right-radius: 250px 80px;
  border-bottom-left-radius: 250px 80px;
  z-index: 2;
  flex-direction: column;
}
.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 5px;
  font-size: 24px;
}
.logo a.active {
  background: #fd5;
}
.logo a:hover {
  text-decoration: underline;
}
.logo img {
  padding: 0 24px;
  height: 160px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.search-bar {
  margin-top: 25px;
  margin-right: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-bar div {
  box-shadow: 3px 3px 5px #1113;
  display: flex;
}
.search-bar div input {
  border: none;
  border-radius: 0;
  width: 100%;
}
.search-bar div a {
  padding: 5px;
  color: white;
  background: #55a;
}
.search-bar div a:hover {
  background: #88d;
}
header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 35px;
}
header nav .icon {
  display: none;
}
header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 250px 100px;
  border-top-left-radius: 250px 100px;
  padding: 24px 9px;
  margin: 0 1px;
  font-weight: 600;
  color: #55a;
}
header nav a:hover {
  background: #fff;
}
header nav .active {
  background: #fff;
}
.hamburger {
  display: none;
  margin: 25px;
}
#slideshow-container {
  height: 560px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.mySlides {
  display: none;
}
.mySlides img {
  height: 560px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background: #55a;
}

.text {
  color: #111;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: #fffa;
}

.numbertext {
  color: #111;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.welcome-container {
  position: relative;
  padding-bottom: 30px;
  background: white;
  margin: 40px 0;
  border-radius: 12px;
  overflow: hidden;
}
.welcome-container .title {
  background: #55a;
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 20px;
  font-weight: 500;
}
.collapsible-container {
  margin: 6px 20px;
  border-radius: 12px;
  border: 2px solid #eee;
  overflow: hidden;
}
.collapsible-container .collapsible {
  width: 100%;
  background: #eee;
  color: #111;
  cursor: pointer;
  padding: 12px;
  border: none;
  text-align: left;
  font-size: 15px;
}
.collapsible-container .content {
  display: none;
  padding: 0 18px;
  overflow: hidden;
  background: #fff;
}
#programs {
  /* position: absolute; */
  width: 100%;
  background: url("../img/wave.svg") no-repeat top left 100%;
  left: 0;
  overflow: hidden;
  z-index: 0;
  bottom: 0;
}
.card-container.ext {
  margin-left: unset;
}
.card-container {
  display: flex;
  align-items: center;
  margin-left: 30%;
  justify-content: space-evenly;
}
.card {
  flex: 1;
  max-height: 300px;
  max-width: 200px;
}
.card img {
  filter: grayscale(100%);
}
.card img:hover {
  filter: none;
}
footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  font-size: 13px;
  z-index: 1;
}

/* Programs */
.logo.ext {
  height: 520px;
}
#ce {
  background: #fff;
  margin-left: 350px;
  max-width: 720px;
  padding: 30px;
  padding-top: 10px;
  /* padding-bottom: 300px; */
}
#ce .title {
  display: flex;
  align-items: center;
}
#ce .title .ico {
  width: 36px;
  margin-right: 6px;
}
#ce .content {
  display: flex;
  margin-bottom: 50px;
  font-size: 14px;
}
#ce .content .left {
  flex: 3;
  margin-right: 6px;
  font-size: 13px;
}
#ce .content .right {
  flex: 2.3;
  align-items: center;
}

#ce .list {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
}

#ce .list .collapsible {
  cursor: pointer;
  color: #a33;
  list-style-type: none;
  margin: 5px;
  outline: none;
  border: none;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
#ce .list button:hover {
  color: #e55;
}

#ce .list .collapsible span {
  margin-right: 6px;
}
#ce .list .collapsible span:after {
  content: "[\002B]";
}

#ce .list .collapsible.active span:after {
  content: "[\2212]";
}
#ce .list .content {
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  margin: 0 25px;
  font-size: 13px;
}

/* staff list */
.logo.ext.te {
  height: 340px;
}
#ce .content.ext {
  flex-direction: column;
}
#ce .content .teacher {
  display: flex;
  margin: 20px;
  flex-direction: row;
  font-size: 12px;
  justify-content: center;
}
#ce .content .teacher .bio {
  flex-direction: column;
  flex: 1;
  margin-left: 14px;
}
#ce .content .teacher .bio div {
  margin-bottom: 8px;
}
#ce .content .teacher .bio .name {
  color: #a33;
  font-size: 13px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination a {
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  text-decoration: underline;
}

.pagination a:hover:not(.active) {
  text-decoration: underline;
}

/* events */

.logo.ev a {
  font-size: 21px;
  flex: 1;
  padding: 0;
}
.logo.ev a:nth-last-child(1) {
  margin-bottom: 30px;
}
#ce .content .container {
  border: 1px solid #1113;
  flex: 1;
  padding: 5px;
  margin: 8px;
  max-width: 644px;
}
#ce .content.ev {
  flex-direction: column;
  align-items: center;
}
#ce .content p {
  font-weight: 500;
}
#ce .content div .gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#ce .content div .gallery .row {
  flex-direction: row;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
#ce .content div .gallery .row img {
  padding: 5px;
  flex: 1;
  max-height: 150px;
  max-width: 200px;
}
/* @media responsive */

@media screen and (max-width: 1080px) {
  footer {
    font-size: 72%;
    flex-direction: column;
  }
  .logo.ext {
    position: absolute;
    width: 200px;
  }
  .logo.ext img {
    padding: 0;
  }
  .logo.ext a {
    font-size: 82%;
  }
  #ce {
    margin-left: 240px;
  }
}
@media (max-width: 900px) {
  header nav {
    position: absolute;
    left: -120%;
    opacity: 0;
    top: 5rem;
    padding-top: 4rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 3;
    background: #f9f9f9;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  header nav a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 100%;
  }
  header nav.active {
    left: -35px;
    opacity: 1;
  }
  .hamburger {
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .hamburger svg {
    cursor: pointer;
  }
  .logo.ext {
    position: absolute;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    height: 80px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .logo.ext.te {
    max-width: 320px;
    height: 80px;
  }
  .logo.ext img {
    width: 100%;
    max-width: 200px;
    height: 80px;
  }
  .logo.ext a {
    font-size: 72%;
  }
  #ce {
    margin-left: 0;
    max-width: 900px;
    margin-right: 0;
  }
  .hamburger.ext {
    position: absolute;
    right: 17px;
    bottom: 7px;
  }
  #programs .card-container {
    margin-left: unset;
  }
}
@media (max-width: 760px) {
  .search-bar.ext {
    position: absolute;
    top: 66px;
    left: 37px;
  }
  .hamburger.ext {
    position: absolute;
    top: 74px;
    right: 7px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  #ce .title h1 {
    font-size: 22px;
  }
}

@media (max-width: 550px) {
  .logo {
    height: 90px;
    width: 360px;
  }
  .logo img {
    margin-top: 10px;
    height: 80px;
    padding: 0px 5px 20px 5px;
  }
  #ce .content .right img {
    max-width: 72%;
  }
  .mySlides img {
    height: 360px;
  }
  #slideshow-container {
    height: 360px;
  }
  #ce .content {
    flex-direction: column;
  }
  #ce {
    margin-left: 0;
  }
  .logo.ext img {
    margin-top: 0px;
  }
  .search-bar.ext {
    left: 17px;
  }
}
@media (max-width: 450px) {
  .search-bar {
    position: absolute;
    left: 17px;
    top: 77px;
  }
  header nav {
    top: 0;
  }
  header nav.ext {
    top: 60px;
  }
  #ce {
    padding: 0;
  }
  #ce .title h1 {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  #ce .content .teacher {
    flex-direction: column;
  }
  #ce .content .teacher .photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #ce .content .teacher .photo img {
    width: 80px;
  }
}
